## setting up variables

In [2]:
import pandas as pd

text_path = 'AppleStore.csv'
df = pd.read_csv(text_path)
df.head()

,Unnamed: 0,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
0,1,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1
1,2,281796108,Evernote - stay organized,158578688,USD,0.00,161065,26,4.0,3.5,8.2.2,4+,Productivity,37,5,23,1
2,3,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.00,188583,2822,3.5,4.5,5.0.0,4+,Weather,37,5,3,1
3,4,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,USD,0.00,262241,649,4.0,4.5,5.10.0,12+,Shopping,37,5,9,1
4,5,282935706,Bible,92774400,USD,0.00,985920,5320,4.5,5.0,7.5.1,4+,Reference,37,5,45,1

In [3]:
df.sort_values('rating_count_ver', ascending=False).head()

,Unnamed: 0,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
498,568,387428400,Infinity Blade,624107810,USD,0.99,326482,177050,5.0,5.0,1.4.1,12+,Games,43,5,13,1
4467,5666,1045901853,Geometry Dash Meltdown,55445504,USD,0.00,117470,117470,4.5,4.5,1.0,4+,Games,40,5,1,1
690,791,416023011,My Verizon,150791168,USD,0.00,126948,107245,4.5,4.5,5.10.0,4+,Utilities,37,3,2,1
1780,2070,597855590,Real Basketball,70336512,USD,0.00,198050,94315,4.5,4.5,1.9,4+,Games,43,5,1,1
127,142,310738695,Zillow Real Estate - Homes for Sale & for Rent,132632576,USD,0.00,342969,88478,4.5,4.5,10.4.5,4+,Lifestyle,37,5,1,1

In [4]:
groups = df.groupby("prime_genre") #returns a groupby Dataframe
# how to iterate through the groupby dataframe 
'''
for g1, g2 in groups:   
    print(g1)
    print(g2)
'''

lifestyle = groups.get_group("Lifestyle") #another way to access groups in the dataframe 
lifestyle.head() #will only output apps from "lifestyle"

,Unnamed: 0,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
54,63,295759189,Big Day - Event Countdown,13156352,USD,0.99,812,14,3.0,4.0,8.2.0,4+,Lifestyle,38,0,7,1
55,64,295775656,12 Steps AA Companion - Alcoholics Anonymous,30367744,USD,2.99,1583,2,3.5,4.5,2.5.9.2,12+,Lifestyle,37,5,1,1
127,142,310738695,Zillow Real Estate - Homes for Sale & for Rent,132632576,USD,0.00,342969,88478,4.5,4.5,10.4.5,4+,Lifestyle,37,5,1,1
217,247,333206289,Alipay - Makes Life Easy,208309248,USD,0.00,1926,2,3.0,3.0,10.0.15,4+,Lifestyle,38,5,3,1
219,249,333263435,Daily Teachings,20298752,USD,4.99,1340,288,4.5,5.0,1.7.3,4+,Lifestyle,38,0,1,1

## Showing the names of the groups created

In [5]:
list(groups.groups) #shows us all the app categories 
groups.groups.keys() #another way to do it

['Productivity',
 'Photo & Video',
 'Entertainment',
 'Travel',
 'Sports',
 'Food & Drink',
 'Book',
 'Music',
 'Shopping',
 'Catalogs',
 'Finance',
 'Business',
 'Navigation',
 'Utilities',
 'News',
 'Lifestyle',
 'Medical',
 'Games',
 'Health & Fitness',
 'Social Networking',
 'Reference',
 'Weather',
 'Education']

## Sorting it according to rating_count_tot

In [6]:
# df.set_index('prime_genre', inplace=True) 
df2 = df.sort_values("rating_count_tot", ascending=False)

group2 = df2.groupby('prime_genre')
games = group2.get_group("Games")
games.head()

,Unnamed: 0,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
1346,1561,529479190,Clash of Clans,116476928,USD,0.0,2130805,579,4.5,4.5,9.24.12,9+,Games,38,5,18,1
707,810,420009108,Temple Run,65921024,USD,0.0,1724546,3842,4.5,4.0,1.6.2,9+,Games,40,5,1,1
1493,1731,553834731,Candy Crush Saga,222846976,USD,0.0,961794,2453,4.5,4.5,1.101.0,4+,Games,43,5,24,1
275,310,343200656,Angry Birds,175966208,USD,0.0,824451,107,4.5,3.0,7.4.0,4+,Games,38,0,10,1
1246,1450,512939461,Subway Surfers,156038144,USD,0.0,706110,97,4.5,4.0,1.72.1,9+,Games,38,5,1,1

## Setting the index of the whole DF to prime_genre

In [7]:
#df.set_index('prime_genre', inplace=True)   #run this code only once and sets the prime_genre as the main index
#df.reset_index(inplace=True) #sets the index back to default 
df.head()

,Unnamed: 0,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
0,1,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1
1,2,281796108,Evernote - stay organized,158578688,USD,0.00,161065,26,4.0,3.5,8.2.2,4+,Productivity,37,5,23,1
2,3,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.00,188583,2822,3.5,4.5,5.0.0,4+,Weather,37,5,3,1
3,4,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,USD,0.00,262241,649,4.0,4.5,5.10.0,12+,Shopping,37,5,9,1
4,5,282935706,Bible,92774400,USD,0.00,985920,5320,4.5,5.0,7.5.1,4+,Reference,37,5,45,1

In [9]:
lf = df.loc["Lifestyle", ['rating_count_tot', 'user_rating_ver']] #another way of creating the group without using groupby
lf.reset_index(inplace=True)
lf.describe()
# lf['rating_count_tot'].idxmax()